{% extends 'base.html' %}

{% block content %}
<div class="ui fixed inverted menu">
    <div class="ui container">
        <a href="#" class="header item"><h1>FinFrank</h1></a>
        <a href="#" class="item">Contact</a>

    </div>
</div>

<div class="four wide column"></div>

<div class="seven wide column">
    <div class = "ui menu"></div>
    <div class = "ui hidden divider"></div>
    <div class="ui segment">
        <div class="ui segment">
            <h2 class="ui center aligned header">Create account</h2>
            <div class = "ui form">
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="field">
                        <div class="form-group">
                            <div class="ui fluid labeled input">
                                    <a class="ui label" style="width:13%; text-align:center;" for="username">Username</a>
                                    <input type="text" id="username" name="username" required class="input-field">
                                </div>
                            </div>
                    </div>


                    <div class="field">
                        <div class="form-group">
                            <div class="ui fluid labeled input">
                                <a class="ui label" style="width:13%; text-align:center;" for="email">Email</a>
                                <input type="email" id="email" name="email" required class="input-field">
                            </div>
                        </div>
                    </div>

                    <div class="field">
                        <div class="form-group">
                            <div class="ui fluid labeled input">
                                <a class="ui label" style="width:13%; text-align:center;" for="Open ai api key">Open ai api key</a>
                                <input type="Open ai api key" id="Open ai api key" name="Open ai api key" required class="input-field">
                            </div>
                        </div>
                    </div>

                    <div class="field">
                        <div class="form-group">
                            <div class="ui fluid labeled input">
                                <a class="ui label" style="width:13%; text-align:center;" for="password">Password</a>
                                <input type="password" id="password" name="password" required class="input-field">
                            </div>
                        </div>
                    </div>


                    <div class="field">
                        <div class="form-group">
                            <div class="ui fluid labeled input">
                                <a class="ui label" style="width:13%; text-align:center;" for="password2">Confirm Password</a>
                                <input type="password" id="password2" name="password2" required class="input-field">
                            </div>
                        </div>
                    </div>


                    <div class="field">
                        <div class="form-group">
                            <button type="submit" class="ui fluid button">Sign up</button>
                        </div>
                    </div>
                </form>
            </div>
            {% if messages %}
            <div class="ui warning message">
                    {% for message in messages %}
                    <p>{{ message }}</p>
                    {% endfor %}
            {% endif %}
            </div>
            <div class="ui center aligned header">
                {% load socialaccount %}
                <h2>Google sign up</h2>
                <a href="{% provider_login_url 'google' %}?process=signup&next=/api">Sign up with Google</a>
            </div>

            <div class="ui message">
                <p class="text-base">Already have an account? <a href="/signin">Sign In</a></p>
            </div>
        </div>
</div>
<div class="three wide column"></div>

</div>
{% endblock %}



